.container.marketing

    .row.featurette
        .col-md-6
            hh2.featurette-heading node-web-skel &nbsp;

        .col-md-6

    footer
        p.pull-right
            a(href='#') Back to top
        p

